body
{
    background-color: #FFFFFF;
    font: 13px/1.5 'Helvetica Neue' ,Arial, 'Liberation Sans' ,FreeSans,sans-serif;
    font-size: .85em;
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    color: #D8DFEA;
}

a
{
    color: #207FCA;
}

a:focus
{
    outline: 1px dotted;
}

hr
{
    border: 0 #D9D9D9 solid;
    border-top-width: 1px;
    clear: both;
    height: 0;
}

h1
{
    font-size: 25px;
}
h2
{
    font-size: 24px;
}
h3
{
    font-size: 17px;
}
h4
{
    font-size: 19px;
}
h5
{
    font-size: 17px;
}
h6
{
    font-size: 15px;
}

h1, h2
{
    font-family: 'lucida grande' , tahoma, verdana;
    font-weight: normal;
    background-color: #018cc1;
    text-align: center;
    font-weight: normal;
    color: #D8DFEA;
}

h3
{
    font-weight: normal;
    color: #303030;
}

ol
{
    list-style: decimal;
}
ul
{
    list-style: disc;
}
li
{
    margin-left: 30px;
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset, figure
{
    margin-bottom: 20px;
}

header nav ul
{
    list-style-type: none;
    margin: 0;
}

header nav ul li
{
    padding-left: 10px;
    display: inline;
    margin: 0;
}

header nav ol li a
{
    float: left;
    display: block;
    padding: 15px 35px 15px 0;
    color: #303030;
    font-weight: bold;
    text-decoration: none;
    -webkit-transition-duration: .2s;
}

header nav ol li a:hover, header nav ol li a:selected
{
    color: #207FCA;
}


header, footer, nav, section
{
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

.editor-label
{
    margin: 1em 0 0 0;
}

.editor-field
{
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

#content
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    border: 1px solid;
    height: 650px;
    background-color: #075e7f;
}
.input
{
    position: relative;
    float: right;
    text-align: center;
}
.add_input
{
    padding: 4px;
    background-color: #075e7f;
    color: #FFFFFF;
    font-family: Calibri;
    font-size: medium;
}

.text_input
{
    width: 450px;
    padding: 5px;
     
    border-color:  #018cc1;
}
.text_input:focus
{
    background-color: #075e7f;
}
